@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    @apply relative flex justify-center items-center w-fit h-fit bg-cover bg-center transition-all duration-300 ease-in-out;
}

.content-div:hover {
    @apply bg-gradient-to-r from-[#0a192f] to-[#0a192f] shadow-lg;
    background-image: linear-gradient(
        to right,
        rgba(10, 25, 47, 0.8),
        rgba(10, 25, 47, 0.8)
      ) !important;
}
.intro {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .intro.visible {
    opacity: 1;
  }
  